@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Guide</h1>
    <h6>
        Predictions
    </h6>
    <p>
        To make a prediction the user enter in all the required data and click done to submit the form.
        Wait until the results are shown.
    </p>
    <h6>History</h6>
    <p>
        You may choose to save your results. To view these previous results click the history
        in the navigation pane
    </p> 
    <h6>Deleting Past Predictions</h6>
    <p>Click the delete option on the right hand side</p>
    <h6>User Profile</h6>
    <p>The user profile contains information that the user entered upon signing up to the application.</p> 
        

</div>
