@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Stroke Predictor will not leak any of 
    the information a user enters. </p>

<div class="bg-warning border-warning rounded container-md class="d-flex flex-row mb-2">
    <img alt="Warning" src="~/images/road-sign-warning.png"/>
    <p>
        It is important to note that using the stroke predictor is not a replacement for in person health care. Please ensure to consult your doctor about any concerns you have.
        Stroke predictor tries to give results that are as accurate as possible, but errors may occur ensure that you seek out professional health care
    </p>
</div>
